body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}


.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
}


.grid-container div {
  display: grid;
  place-items: center;
  text-align: center;
}

.grid-item {
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
}

.one {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.two {
  grid-column: 2/4;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.thre {
  grid-column: 1/2;
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}




/* adaptive  */



@media (max-width: 850px) {

  .one {
    grid-column: 1/4;
    grid-row: 1/4;
  }

  .adap {
    display: grid;
    grid-column: 2/4;
  }

}

@media (max-width: 750px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}


@media (max-width: 640px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .adap {
    display: grid;
    grid-column: 2/3;
  }
}